*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f6f9;
}

.container{
display:flex;
}

.sidebar{
width:230px;
background:#1f2937;
height:100vh;
color:white;
padding:20px;
}

.sidebar h2{
margin-bottom:30px;
}

.sidebar ul{
list-style:none;
}

.sidebar li{
padding:15px;
cursor:pointer;
border-radius:5px;
}

.sidebar li:hover{
background:#374151;
}

.main{
flex:1;
padding:20px;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.header input{
padding:10px;
width:250px;
border-radius:5px;
border:1px solid gray;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
margin-bottom:30px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 2px 8px rgba(0,0,0,.2);
text-align:center;
}

.card h2{
font-size:35px;
color:#2563eb;
}

.form{
background:white;
padding:20px;
border-radius:10px;
margin-bottom:25px;
box-shadow:0 2px 8px rgba(0,0,0,.2);
}

.form input,
.form select{
width:100%;
padding:12px;
margin:10px 0;
border:1px solid gray;
border-radius:5px;
}

.form button{
background:#2563eb;
color:white;
padding:12px;
width:100%;
border:none;
cursor:pointer;
border-radius:5px;
font-size:16px;
}

.form button:hover{
background:#1d4ed8;
}

table{
width:100%;
border-collapse:collapse;
background:white;
box-shadow:0 2px 8px rgba(0,0,0,.2);
}

th{
background:#2563eb;
color:white;
padding:12px;
}

td{
padding:12px;
text-align:center;
border-bottom:1px solid #ddd;
}

.delete{
background:red;
color:white;
border:none;
padding:8px 15px;
cursor:pointer;
border-radius:5px;
}

.delete:hover{
background:darkred;
}

@media(max-width:768px){

.container{
flex-direction:column;
}

.sidebar{
width:100%;
height:auto;
}

.header{
flex-direction:column;
gap:15px;
}

.header input{
width:100%;
}

}